<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <title>{% block title %}Welcome{% endblock %} — freedict-org</title>
    {% block htmlheader %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>freedict-org</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
                                        %}><a href="{{ '/'|url }}">{{ _("Home") }}</a></li>
          {% for href, title in [
                  ['/documentation', _('Documentation')],
                  ['/downloads', _('Downloads')],
                  ['/community', _('Community')],
                  ['/about', _('About us')] ] -%}
            <li{% if this.is_child_of(href) %} class="active"{% endif -%}>
              <a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main class="page">
      {% block body %}{% endblock %}
    </main>
    <footer>
      <p>{{ _('View this site in in another language:') -}}
        {%- set alts = {} -%}
        {% for lang in config.values['ALTERNATIVES'].values() -%}
        {% set name = lang['name'].items()|first|last -%}
        {% set prefix = '' if lang['url_prefix'] == None else lang['url_prefix'] -%}
        {% set norm_prf = prefix.rstrip('/') -%}
        {% if (not norm_prf and this._alt != "en") or
                (norm_prf and not norm_prf.endswith(this._alt)) -%}
          {# unelegant way of updating a dict from jinja -#}
          {%- if alts.update({name: norm_prf}) %} {% endif -%}
        {%- endif -%}
        {%- endfor %}
        {% for name, url_prefix in alts|dictsort -%}
        <a href="{{ url_prefix }}{{ this.path }}">{{ name }}</a> 
        <br>
        {% endfor %}
        {# use / for English locale and /alt for the others #}
        {% set prefix = '/' if alt == 'en' else '/%s/' % this.alt -%}
        {# The heading passed to slugify has to exactly match the heading from
          contents/community/. The lektor-headings-anchor plugin uses slugify
          for the anchors. #}
        <div class="help-translation"><a 
          href="{{ prefix }}community/index.html#{{ slugify(_('Website Translations')) }}">
                {{ _('Help translating this website!') }}</a>
        </div>
      </p>
      <p>&copy; Copyright {{ get_year() }} by The FreeDict Project.</p>
    </footer>
  </body>
</html>
