{% extends "page.html" %}

{% block body %}
<h2>{{ _("Table Of Contents") }}</h2>
<ul class="toc">
    {% for item in this.body.toc recursive %}
      <li><a href="#{{ item.anchor }}">{{ item.title }}</a>{%
             if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif
             %}</li>
      {% endfor %}
</ul>


  {{ super() }}


    <p>
      <table>
        <thead><tr>
          <th><strong>{{ _('Dictionary Maintainer') }}</strong></th>
          <th><strong>{{ _('Dictionaries') }}</strong></th></tr>
        </thead>
        <tbody>
          {% for clearname, dicts in generate_maintainer_overview().items() -%}
          <tr><td>{{ clearname }}</td>
            <td>{{ ', '.join(dicts) }}</td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
    </p>

{% endblock %}
