{% extends "page.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block htmlheader %}
<script type="text/javascript">
// Sets the display style of all currently selected dictionaries to BLOCK, and
// all others to NONE.
function showDictionaries(e, platform) {
    // Get the currently selected language from the SELECT object in the body
    // (the function is called from there, with 'e' as the argument)
    var selectedLang = e.options[e.selectedIndex].value;
    // Query all elements that are marked with the dict-entry class name
    var allEntries = document.querySelectorAll('.' + platform);

    var cnt;
    for (cnt = 0; cnt < allEntries.length; cnt++) {
        // Set display to block or none based on whether the element is marked
        // with a class name dict-src-eng, dict-src-deu, ... depending on the
        // selected language
        if(allEntries[cnt].className.split(' ').includes("dict-src-" + selectedLang)) {
            allEntries[cnt].style.display = "block";
        } else {
            allEntries[cnt].style.display = "none";
        }
    }
}
</script>
{% endblock %}

{% block body %}
  {{ super() }}

{{ generate_download_section('mobile') }}

{{ this.after_mobile }}

{{ generate_download_section('desktop') }}

{% block after_desktop %} {{ this.after_desktop }} {% endblock %}
{% endblock %}
